@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Share+Tech&display=swap');


:root {
    --font1: "JetBrains Mono", monospace;
    --font2: "Roboto Mono", monospace;
    --color1: #129990;
    --color2: #138176;
    --color3: #096B68;
    --color4: #2A4759;

}

.container {
    display: flex;
    justify-content: flex-start;


}

.form {
    border: 2px solid skyblue;
    border-radius: 8px;
    padding: 6% 6%;
    gap: 2px;
}

.btn-container {
    display: flex;
    justify-content: center;
}

p {
    font-family: var(--font1);
    color: var(--color2);
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.footer {
    background-color: var(--color3);
    padding: 24px;
    font-family: var(--font1);
    color: aliceblue;
    font-size: 20px;
    text-align: center;
}

.ic2 {
    display: flex;
    justify-content: left;

}

.but {
    color: var(--color4);
    padding: 10px;
    border-radius: 8px;
}

h1 {
    font-family: var(--font1);
    color: var(--color3);
    font-size: 20px;
}

.txt {
    font-family: var(--font2);
    color: var(--color1);
    font-size: 30px;
}

.principal {
    display: flex;
    align-items: center;
    padding: 6% 4%;
    justify-content: space-between;
    gap: 30px;
}

.principal2 {
    display: flex;
    align-items: center;
    padding: 6% 4%;
    justify-content: space-between;
    gap: 30px;
}

.direct {
    display: flex;
    justify-content: flex-start;

}

.main {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
}

#confirmacionmodal {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.modal-footer .btn {
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.modal-footer .btn:hover {
    transform: scale(1.03);
}

@keyframes fadeInModal {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

#confirmacionmodal {
    animation: fadeInModal 0.3s ease-in-out;
}

.modal-content {
    background-color: #305a4b;
    border-radius: 20px;
    border: none;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    padding: 20px;
    overflow: hidden;

}

.modal-content2 {
    background-color: #b2d3c7;
    border-radius: 20px;
    border: none;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    padding: 20px;
    overflow: hidden;

}

input[type="text"],
textarea {
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 10px;
}