# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environments
.env
.env.*.local

# IDE/editor config
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Coverage reports
coverage/

# Build artifacts
dist/
build/

# Test output
test-results/
*.tsbuildinfo

# OS-specific
.DS_Store
Thumbs.db

# Optional: evitar que se suban backups o dumps
*.sql
*.sqlite

# Optional: evita accidentalmente subir el lockfile
package-lock.json
yarn.lock

# Local Netlify folder
.netlify
